
.calculator{
    text-align: center;
    border: solid 1px ;
    border-radius: 5px ;
    width: 250px;
    margin: 15% auto ;
    padding-bottom: 20px;
}
.result{
    overflow: scroll;
    overflow-y: hidden;
    
    padding: 2.5x;
    font-size: 3rem;
    
    
}
.resulted{
    color: red;
}

.btn{
    
    border: solid 1px;
    border-radius: 5px;
    
    height: 3rem;
    width: 20%;
    margin: .2rem 0 0 0;
    font-size: larger;
}

#borderResult{
    border: solid 1px ;
    border-radius: 5px;
    margin: 1.5rem auto 1.5rem;
    width: 80%;
    

}





.reset{
    margin-top: 10px;
    width:100px;
}